# Exclude all files and folders in databases/ except for example_tree.json
databases/*
!databases/example_tree.json

# Cache file
.db_cache.json

# Python temporary files
__pycache__/
scratch/
*.py[cod]
*$py.class

# To minimize the size of the repository - PN
build/
dist/
*.spec